<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8" />
    <title>H2OSEG Ter</title>
    <!-- Estils de Leaflet -->
    <link rel="stylesheet" href="css/leaflet.css" />
    <!-- Estils de cytoscape-leaf -->
    <link rel="stylesheet" href="css/cytoscape-leaf.css" />
    <link rel="stylesheet" href="css/custom_styles.css" />
    <link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css" />
</head>
<body>
<div id="app">
    <div class="layout">
        <div id="map-wrapper">
            <div id="cy"></div>
            <div id="cy-leaflet"></div>
        </div>
        <div id="sidebar">
            <div class ="align-right">
                <img src="assets/logo_h20seg.png" alt="Logo H2OSEG" style="height: 50px;" />
                <span style="padding: 0.5em;">Ter</span>
            </div>
            <div v-if="selectedEle">
                <h4>Dades del {{ selectedEle.eleType }} seleccionat:</h4>
                <div v-if="selectedEle.eleType === 'punt'">
                    <p v-if="selectedEle.name">{{ selectedEle.name }}</p>
                    <p>En aquest punt de la xarxa arriben {{ selectedEle.inflow }} m<sup>3</sup>/s
                        i en surten {{ selectedEle.outflow.toFixed(1) }} m<sup>3</sup>/s.</p>
                    <p v-if="selectedEle.type === 'massa'">
                        L'àrea de drenatge d'aquest punt aporta {{ selectedEle.flowChange }} m<sup>3</sup>/s de cabal.
                    </p>
                    <p v-else-if="selectedEle.type === 'EDAR'">
                        L'efluent de l'EDAR aporta {{ selectedEle.flowChange.toFixed(2) }} m<sup>3</sup>/s a la xarxa fluvial.
                    </p>
                    <p v-else-if="selectedEle.flowChange > 0">
                        En aquest punt entren {{ Number(selectedEle.flowChange).toFixed(1) }} m<sup>3</sup>/s a la xarxa fluvial.
                    </p>
                    <p v-else-if="selectedEle.flowChange < 0">
                        En aquest punt s'extreuen {{ Math.abs(selectedEle.flowChange).toFixed(2) }} m<sup>3</sup>/s de la xarxa fluvial.
                    <h4>Modifica el canvi de cabal generat per aquest punt:</h4>
                    <input type="number" v-model.number="flowModified" @keyup.enter="modifyFlowChange(selectedEle, flowModified)" />
                    <button @click="modifyFlowChange(selectedEle, flowModified)">Modifica</button>
                    <p v-if="errorMsg" style="color: red; margin-top: 8px;">
                        ⚠️ {{ errorMsg }}
                    </p>
                </div>
                <div v-if="selectedEle.eleType === 'tram'">
                    <p>En aquest tram de la xarxa fluvial hi circulen {{ selectedEle.flow }} m<sup>3</sup>/s i té una llargada de {{ Math.round(selectedEle.lengthRiver / 10) / 100 }} km.</p>
                    <p>El cabal mínim per garantir un bon estat ecològic son {{ selectedEle.flowNeed }} m<sup>3</sup>/s</p>
                    <p>El tram correspon a la massa d'aigua {{ selectedEle.codiMassa}}</p>
                </div>
            </div>
            <div v-else>
                <p>Selecciona el cursor (a baix a l'esquerre) i fes clic sobre un element per veure’n les dades.</p>
            </div>
            <div class="sidebar-footer">
                <hr />
                <p>Documentació</p>
            </div>
        </div>
    </div>
</div>

<!-- Llibreries necessàries -->
<!-- Llibreries necessàries -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="js/leaflet.js"></script>
<script src="js/cytoscape.min.js"></script>
<script src="js/cytoscape-leaf.js"></script>

<script src="https://unpkg.com/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/cytoscape-popper@2.0.0/cytoscape-popper.js"></script>
<link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css" />
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.min.js"></script>

<script type="module" src="js/app.js"></script>
</body>
</html>
